<!doctype html>
<html>
<head>
    <title>Mood Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="enterBox text-center align-middle">
        <h1>Mood Tracker</h1>
        <!-- <img src="img/mood.jpg" alt="21 Savage Profile Photo"> -->

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

    <div class='designBox text-center'>
        <h2>Nowadays, it's hard to keep a track of our moods</h2>
    </div>
    <div class='designBox2 text-center'>
        <h2>Here's a little help</h2>
    </div>

</div>
</body>
</html>
